<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list >

    <ion-item *ngFor = "let chat of chatslistica  ">

        <ion-avatar slot="start">

          <ng-container>

            <img [src]="chat.users.imagen">

          </ng-container>

        </ion-avatar>

        <ion-label>

            <h2>
                <span>{{chat.users.nombre}}</span>
            </h2>

            

            <p *ngIf="chat.chatob.mensajes[chat.chatob.mensajes.length-1]">
              
              {{chat.chatob.mensajes[chat.chatob.mensajes.length-1]}}
            
            </p>

        </ion-label> 

        <ion-button shape="round" fill="outline" (click)="goToReserva()">Reservar</ion-button>

    </ion-item>

  </ion-list>

</ion-content>
