<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button color="primary" (click)="closeModal()">
            <ion-icon name="close" color="light"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>
    	Search Filter
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>


	<ion-item>
	  <ion-label class="no-margin-bottom" stacked>
      <ion-text color="dark" class="fw500">Radius:</ion-text>
    </ion-label>
    <ion-range min="1" max="50" step="1" value="1" class="no-padding-top" [(ngModel)]="radiusmiles">
      <ion-label slot="start"><ion-text color="primary"> {{radiusmiles}} Mile(s)</ion-text></ion-label>
    </ion-range>
	</ion-item>


	<ion-button expand="full" color="primary" (click)="closeModal()">Filter Results</ion-button>
</ion-content>
