<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Game Matches</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-card class="bg-white" *ngFor="let usuario of usuariosMatcheados  ">
        <ion-img [src]="usuario.imagen"></ion-img>
        <ion-button expand="full" color="dark" (click)="presentImage(usuario.imagen)" no-margin>
          {{usuario.nombre}} -- {{usuario.username}}
        </ion-button>
      </ion-card>

    <popmenu (click)="searchFilter()" ></popmenu>

</ion-content>
