<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Deportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let deporte of deportes">
    <div class="bg-profile" text-center padding>
    <img [src]="deporte.imagen">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>{{deporte.nombre}}</strong></ion-text>
      </h1>
      
      <p margin-bottom>
       {{deporte.descripcion}}
      </p>
    </ion-card-content>
  </ion-card>

  </ng-container>
  
  
</ion-content>
