<ion-content padding class="login auth-page">

  <div class="auth-content">
    <!-- Logo -->
    <div padding-horizontal text-center>
      <div class="logo"></div>
      <h3 no-margin>
        <ion-text color="light" class="fw700">
          <ion-text color="secondary">Registro</ion-text>
        </ion-text>
      </h3>
    </div>

    <!-- Register form -->
    <form #formControl="ngForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="contact" item-start></ion-icon>
          Nombre Completo
        </ion-label>
        <ion-input color="secondary" type="text" name="nombre" [(ngModel)]="usuario.nombre" #nombre="ngModel"></ion-input>
      </ion-item>
     

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="secondary" type="email" name="email"  [(ngModel)]="usuario.email" #email="ngModel"></ion-input>
      </ion-item>
      
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Contraseña
        </ion-label>
        <ion-input color="secondary" type="password" name="password" [(ngModel)]="usuario.password" #password="ngModel"></ion-input>
      </ion-item>
      

          <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person" item-start></ion-icon>
          Username
        </ion-label>
        <ion-input color="secondary" type="text" name="username" [(ngModel)]="usuario.username" #username="ngModel"></ion-input>
      </ion-item>
      
     

      <br>
      <br>
      <h3 color="light">Deportes de preferencia</h3>


     </form>

          <ion-list>
        <ion-item *ngFor="let deporte of sportOptions" >
          <ion-label style="color:black">{{deporte.nombre}}</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="deporte.isChecked" ></ion-checkbox>
        </ion-item>
    </ion-list>

    <div margin-top>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="signUp()" [disabled]="!formControl.valid"
        tappable>
        <ion-icon name="log-in"></ion-icon>
        Registrarse
      </ion-button>



    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span (click)="goToLogin()" tappable>
        <ion-text color="light">
          <strong>Tengo una cuenta!</strong>
        </ion-text>
      </span>
    </div>
    

  </div>
</ion-content>